name: Pelican site CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: "Set up Python 3.11"
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pelican pyyaml beautifulsoup4 ghp-import
        git clone --depth=1 --single-branch --branch mechmotum https://github.com/mechmotum/pelican-alchemy.git
        git clone --depth=1 https://github.com/getpelican/pelican-plugins.git
    - name: Build the website
      run: |
        pelican -D -v --fatal errors -s publishconf.py -o output
        git fetch origin --tags
        #
        git checkout 2022Q3Q4
        sed -i 's|me41055|me41055/2022|' publishconf.py
        pelican -D -v --fatal errors -s publishconf.py -o output/2022
        sed -i 's|blob/master|tree/2022Q3Q4|' output/2022/schedule.html
        git checkout -- publishconf.py
        #
        git checkout 2023Q3Q4
        sed -i 's|me41055|me41055/2023|' publishconf.py
        pelican -D -v --fatal errors -s publishconf.py -o output/2023
        sed -i 's|blob/master|tree/2023Q3Q4|' output/2023/schedule.html
        #
        git checkout 2024Q3Q4
        sed -i 's|me41055|me41055/2024|' publishconf.py
        pelican -D -v --fatal errors -s publishconf.py -o output/2024
        sed -i 's|blob/master|tree/2024Q3Q4|' output/2024/schedule.html
        ls output/
        #
        git checkout 2025Q3Q4
        sed -i 's|me41055|me41055/2025|' publishconf.py
        pelican -D -v --fatal errors -s publishconf.py -o output/2025
        sed -i 's|blob/master|tree/2025Q3Q4|' output/2025/schedule.html
        ls output/
    - name: Deploy the website
      if: ${{ github.event_name == 'push' }}
      run: |
        git config --global user.name "Github Actions"
        git config --global user.email mechmotum@users.noreply.github.com
        git remote add deploy "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/moorepants/me41055.git"
        ghp-import --no-history -r deploy -b gh-pages -m "Updated via Github Actions" -p output
